*{
    box-sizing: border-box;
    margin:0;
}

:root{
  --ff: Open Sans;
  --bc-black: #0B0D10;
  --txt-color: white;
}

html {
    color:white;
    font-family: var(--ff), sans-serif;
    font-size: 62.5%;
}

h1, h2, h3,
h4, h5, h6{
    color:#89644f;
}
h1{
    font-size:5em;
}

body{
    background: linear-gradient(
        90deg,
        black 0%,
        #021019 30%,
        #05598D 100%);
    height:300vh;
}

/********************************/
/*            Header            */
/********************************/


header{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width:20%;
    height:40vh;
    margin:0 auto;
    background-color:#0B0D10;
    
}
header div{
    margin:auto;
}

    /********************************/
    /*            photo             */
    /********************************/

.home{
    text-align:center;
}

.profil{
    width:70%;
    margin:2em auto;
    border-radius:50%;
    
}

.login{
    text-decoration: none;
    width:100%;
}

header div .login h1{
    color:white;
    font-size:2em;
    text-align:center;
}

    /********************************/
    /*            Navbar            */
    /********************************/

header nav{
    width:100%;
    position:relative;
}

    /********************************/
    /*         nav Menu             */
    /********************************/

.menu{
    width:100%;
    position: absolute;
	background: var(--bc-black);
	left: 0;
	display:none;
}
.menu ul {
	list-style-type: none;
    width:100%;
    height:60vh;
    padding:0;
    margin: 0 auto;
    text-align:center;
}

.menu ul li {
    padding: 1em 0;
    font-size:2em;
}

.menu ul li a {
	font-weight: bold;
	color: white;
	text-decoration:none;
}

/********************************/
/*            Main              */
/********************************/

main{
    width:80%;    
}

    /********************************/
    /*        Hero container        */
    /********************************/

.hero{
    width:100%;
    height:100vh;
    justify-content: center;
}
.hero-container{
    width:50%;
    flex-direction:column;
    justify-content:center
}

.hero-container p{
    font-size:4em;
    margin-right:0.5em;
}

.parent {
    white-space: nowrap;
    overflow: hidden; 
    font-size: 4em;
    position: relative;
}

.border {
    border-bottom: solid 3px white;
}

/* Animation */
.parent {
    animation: animated-text 3s steps(15,end) infinite;
}

@keyframes animated-text{
  0%{width: 0;}
  45%{width: 7em;}
  90%{width: 0;}
  100%{width:0%;}
}

    /********************************/
    /*        pages "flip"          */
    /********************************/

.book{
    border:0.5em solid rgb(53, 53, 53);
    border-top-right-radius:1em;
    border-bottom-right-radius:1em; 
    margin-top:5em;
    padding-top:2em;
    padding-right: 1.5em;
    position: relative;
    height:100vh;
    background-color: #8c8c8c;
    background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
}

.sewing{
    border-top-right-radius:1em;
    border-bottom-right-radius:1em; 
    border:0.3em dashed rgb(53, 53, 53);;
    height:95vh;
    z-index:1;
    
}

.page{
    position: absolute;
    top:4vh;
    width:98%;
    height:90vh;
    transform-origin: left;
    background-color:white;
    box-shadow: 1em 1.5em 1.5em black;
    overflow: auto;
}

#projectsPage{
    background-color:#525659;
    justify-content:space-around;
    padding:2em;
}
#projectsPage .preview{
    position:relative;
    width:30%;
    border-radius:2em;
}
#projectsPage .preview:hover  .prev-info{
    display:block;
}
#projectsPage .preview img{
    width:100%;
    height:auto;
    border-radius:2em;
    box-shadow: 0.5em 0.5em 0.5em black;
    border:0.1em solid black
}

#projectsPage .preview .prev-info{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    text-align:center;
    display:none;
    background-color: rgba(255,255,255,0.5);
}
#projectsPage .preview .prev-info h3,
#projectsPage .preview .prev-info p{
    color:black;
    font-size:2em;
}


        /********************************/
        /*        projects prev         */
        /********************************/



@keyframes animated-block{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}

/********************************/
/*          Dashboard           */
/********************************/

    /********************************/
    /*          projects            */
    /********************************/

.project{
    background-color: rgba(0,0,0,0.5);
    width:80%;
    margin: 2em auto;
    justify-content:space-between;
    padding:1em;
    border-radius:2em;
}

.project .txtImg{
    width:80%;
    margin:auto;
    justify-content:space-between;
}

.project .txtImg img,
.project .txtImg .text{
    width:50%;
    font-size:2em;
    padding:1em;
}

.project h3{
    text-align:center;
    width:100%;
    padding:0.5em;
    font-size:3em;
}

.project .txtImg .text p
{
    margin: 0.5em 0;
    text-align: justify;
}
.project .video{
    width:100%;
}
.project .video iframe{
    width: 90em;
    height: 60em;
    margin:auto;
}

.project .buttons{
    width:100%;
    justify-content:space-around;
    margin:3em;
}

.project .buttons .editProject,
.project .buttons .delProject{
    width:20%;
    height:3em;
}



/********************************/
/*            tools             */
/********************************/

.flex{
    display:flex;
}
.wrap{
    flex-wrap:wrap;
}
.hide{
    display:none;
}

/********************************/
/*        responsive            */
/********************************/

@media screen and (min-width: 768px) {
    .menu{
        display:flex;
    }
}

@media screen and (min-width: 1024px) {
    
    .menu{
        display:flex;
    }
}