*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    font-family: 'Open Sans';
    --text-primary: #FEEEBB;
    --text-secondary: #FEEEBB;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --ff: Open Sans;
    --bc-black: #0B0D10;
    --txt-color: #FEEEBB;
    --hr-color: #33E608;
    --hover-color: #33E608;
}

.dark {
    --text-primary: #FEEEBB;
    --text-secondary: #FEEEBB;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
    
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.translucide{
    background-color: rgba(20, 20, 24, 0.9);
} 

html {
    color:var(--text-primary);
    font-family: var(--ff), sans-serif;
    font-size: 62.5%;
}

body {
    color: white;
    /*background: linear-gradient(
        90deg,
        black 0%,
        #021019 30%,
        #05598D 100%);*/
    background-color: #141418;
    height:300vh;
}
  
  
body::-webkit-scrollbar {
    width: 1em;
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

/********************************/
/*            Header            */
/********************************/


    /********************************/
    /*            photo             */
    /********************************/

.home{
    text-align:center;
    height: 8em;
    color: var(--text-primary);
    text-decoration: none;
    
}

.profil{
    width:70%;
    margin:2em auto;
    border-radius:50%;
    display: none;
}

    /********************************/
    /*            Navbar            */
    /********************************/
    
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
    bottom: 0;
    width: 100vw;
    height: 8em;
    flex-direction: row;
    z-index:1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 8em;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}


.link-text {
    display: none;
    margin-left:1em;
    font-size:2em;
}

.nav-link .fa-nav {
    font-size:3em;
    margin:auto;
}

.fa-nav {
    color: #33E608;
}

.fa-nav {
    color: #33E608;
}

.fa-nav,
.fa-nav {
    transition: var(--transition-speed);
}

    /********************************/
    /*         nav Menu             */
    /********************************/


/********************************/
/*            Main              */
/********************************/

main {
    margin:0;
}

video {
    z-index:-1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 8em;
  }

hr{
    width:30%;
    border: 3px solid var(--hr-color);
    margin: 0.5em 0;
}
    /********************************/
    /*        Hero container        */
    /********************************/

.hero{
    width:100%;
    height:100vh;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

}
.hero-container{
    width:50%;
    flex-direction:column;
    justify-content:center;
    
}

.hero-container p{
    font-size:4em;
    margin-right:0.5em;
}

.parent {
    white-space: nowrap;
    font-size: 4em;
    position: relative;
    
}

.border {
    border-bottom: solid 3px white;
}

/* Animation */
.parent {
    animation: animated-text 3s steps(15,end) infinite;
}

@keyframes animated-text{
  0%{width: 0;}
  45%{width: 7em;}
  90%{width: 0;}
  100%{width:0%;}
}

    /********************************/
    /*           about me           */
    /********************************/

#about {
    background-color: var(--bg-primary);
    justify-content:space-around;
}

#about #me{
    border-radius:50%;
    transform: rotate(-20deg);
    width:50%;
}

#about .me-txt {
    font-size: 2em;
    width:50%;
    padding:2em;
    margin:3em 0;
}

#about .me-img{
    width:50%;
    margin:auto;
    text-align:center
}

    /********************************/
    /*             SKILLS           */
    /********************************/

.skills{
    font-size:2em;
    justify-content:space-around;
    padding:3em;
}

.skills h1{
    font-size:2em;
    margin:0.5em 0;
    width:100%;
    text-align:center;
}

.skill-bar{
    margin:1em;
    border:3px solid #23232E;
    background-color: black;
    width:40%;
}

.skill-bar p{
    padding: 0.5em 1em;
    background-color: #33E608;
}

#html{
    width:90%;
}

#css{
    width:90%;
}

#js{
    width:70%;
}

#php{
    width:70%;
}

#mysql{
    width:70%;
}

    /********************************/
    /*          formation           */
    /********************************/

.course{
    background-color: var(--bg-primary);
    padding:2em;
    margin:auto;
}

.block-school,
.block-exp{
    width:45%;
    font-size:1.5em;
    padding-left: 1em;
    border-left:2px solid var(--hr-color);
}

.block-school h2{
    width:100%;
    text-align:center;
}

.block-school .school,
.block-exp .exp{
    width:100%;
    padding:0 2em;
}
.block-school .school p,
.block-school .exp p{
    margin: 1em 0;
}

.block-school .school legend,
.block-school .exp legend{
    font-style:italic;
}

    /********************************/
    /*        pages "flip"          */
    /********************************/


#projectsPage{
    justify-content:space-around;
    padding:2em;
}
#projectsPage .preview{
    position:relative;
    width:30%;
    border-radius:2em;
}
#projectsPage .preview:hover  .prev-info{
    display:block;
}
#projectsPage .preview img{
    width:100%;
    border-radius:2em;
    box-shadow: 0.5em 0.5em 0.5em black;
    border:0.1em solid black
}

#projectsPage .preview .prev-info{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    text-align:center;
    display:none;
    background-color: rgba(255,255,255,0.7);
}
#projectsPage .preview .prev-info h3,
#projectsPage .preview .prev-info p{
    color:black;
    font-size:2em;
}


        /********************************/
        /*        projects prev         */
        /********************************/



@keyframes animated-block{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}

/********************************/
/*        portfolio             */
/********************************/

    /********************************/
    /*     projects Gallery         */
    /********************************/

#dashboardGallery{
    border-collapse: collapse;
    width:80%;
    margin:auto;
    text-align:center;
    font-size:1.5em;
    margin-top:2em;
}

#dashboardGallery th{
    font-size:2em;
    font-weight:bold;
}

#dashboardGallery tr,
#dashboardGallery td{
    border:1px solid white;
}

#dashboardGallery tr td{
    width:25%;
}
#dashboardGallery tr td img{
    width:50%;
}

#dashboardGallery tr td a{
    text-decoration:none;
    color:white;
}

#gallery{
    width:80%;
    margin:auto;
    justify-content: space-between;
}

.sliderImage:not(:first-child){
	display:none;
}
.sliderImage img{
    width:80%;
}

.slideShow{
	animation: reveal 1s linear ;
}
.slideHide{
	animation: hide 1s linear;
}


@keyframes reveal {
  from {
    opacity:0.1;
  }

  to {
    opacity:1;
  }
}

@keyframes hide {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

/********************************/
/*          Dashboard           */
/********************************/

    /********************************/
    /*          projects            */
    /********************************/

.project{
    width:80%;
    margin: 2em auto;
    justify-content:space-between;
    padding:1em;
    border-radius:2em;
}

.project .txtImg{
    width:80%;
    margin:auto;
    justify-content:space-between;
}

.project .txtImg img,
.project .txtImg .text{
    width:50%;
    font-size:2em;
    padding:1em;
}

.project h3{
    text-align:center;
    width:100%;
    padding:0.5em;
    font-size:3em;
}

.project .txtImg .text p
{
    margin: 0.5em 0;
    text-align: justify;
}
.project .video{
    width:100%;
}
.project .video iframe{
    width: 90em;
    height: 60em;
    margin:auto;
}

.project .buttons{
    width:100%;
    justify-content:space-around;
    margin:3em;
}

.project .buttons .editProject,
.project .buttons .delProject{
    width:20%;
    height:3em;
}



/********************************/
/*            tools             */
/********************************/

.flex{
    display:flex;
}
.wrap{
    flex-wrap:wrap;
}
.hide{
    display:none;
}

/********************************/
/*        test navbar           */
/********************************/



/********************************/
/*        responsive            */
/********************************/

@media screen and (min-width: 768px) {
    main {
        margin-left: 10em;
        
    }
    .menu{
        display:flex;
    }
    .profil{
        display:block;
    }
    .navbar {
        top: 0;
        width: 10em;
        height: 100vh;
        
    }

    .navbar:hover {
        width: 30rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo i
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
    .navbar-nav{
        flex-direction: column;
    }
    .logo {
        text-align: center;
        background: var(--bg-secondary);
        width: 100%;  
    }
    .navbar-nav:hover .fa-nav{
        margin-left:1.5em;
        margin-right:0;
    }
}

@media screen and (min-width: 1024px) {
    main {
        margin-left: 10em;
    }
    .menu{
        display:flex;
    }
    .profil{
        display:block;
    }
    .navbar {
        top: 0;
        width: 10em;
        height: 100vh;
        flex-direction: column;
    }

    .navbar:hover {
        width: 35em;
    }

    .navbar:hover .link-text {
        display: inline;
    }
    .navbar-nav{
        flex-direction: column;
    }
    .logo {
        text-align: center;
        background: var(--bg-secondary);
        width: 100%;  
    }
    .navbar-nav:hover .fa-nav{
        margin-left:1.5em;
        margin-right:0;
    }
}